# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
.env.local
.pytest_cache/
logs/
*.log

# Node
node_modules/
.next/
out/
.DS_Store
*.pem
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env*.local
.vercel

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Docker
docker-compose.override.yml
